/* body {
    background-color: antiquewhite;
}
*/

.top-box {
    background-color: beige;
    border: solid 10px;
    padding: 20px;
    width: 200px;
    height: 200px;;
}

.mid-box {
    background-color: blue;
    border: solid 20px;
    padding: 20px;
    margin-left: 260px;
    width: 200px;
    height: 200px;
}

.bottom-box {
    background-color: green;
    border: solid 10px;
    padding: 20px;
    margin-left: 540px;
    width: 200px;
    height: 200px;
}